@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika:wght@400;700&display=swap');
@import 'header.css';
@import 'footer.css';

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: Andika, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
}

$main-orange: #F67A45;
$background: #01010F;

@mixin title {
    font-family: 'Alumni Sans', sans-serif;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 4px $main-orange;
    position: relative;
    
    &::after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        color: #01010F;
        -webkit-text-stroke: 0;
        z-index: 1;
    }
}

@mixin main-text {
    font-family: Andika, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
}   

@mixin button {
    @include main-text();
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000000;
    border-radius: 5px;
    border: 2px $main-orange solid;
    padding: 10px 20px;
    font-weight: 700;
    transition: 0.3s;

    &:hover {
        background-color: $main-orange;
        outline: 2px $main-orange solid;
        outline-offset: 3px;
        transition: 0.3s;
    }
}

@mixin flex-block {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    width: 1240px;

    &__title {
        @include title();
    }
}

@mixin image {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin modal-window {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.15);
    z-index: 3;
    
    &__content {
        max-width: 750px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 40px 60px;
        height: auto;
        background-color: $background;
        border: 2px $main-orange solid;
        border-radius: 5px;
        animation: modalopen 0.5s;

        &.closing {
            animation: modalclose 0.5s;
        }
    }
    &__title {
        @include title;
        line-height: 100%;
        max-width: 700px;
        margin-bottom: 10px;
    }
    &__form {
        max-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    &__description {
        @include main-text;
        font-weight: 700;
        text-align: center;
        max-width: 700px;
    }
    &__label {
        @include main-text();
        width: 100%;
        font-size: 20px;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    &__input {
        @include main-text();
        width: 100%;
        height: 40px;
        padding-inline: 10px;
        background-color: transparent;
        outline: 2px #2E2E2E solid;
        border: none;
        border-radius: 5px;
        box-shadow: 3px 4px 8px rgba(white, 0.15);
        margin-top: 10px;

        &::placeholder {
            @include main-text();
            color: rgba(255, 255, 255, 0.7);
        }
        &:focus {
            outline: 2px $main-orange solid;
        }
        &_big {
            min-height: 100px;
        }
    }
    &__option {
        // @include main-text();
        // background-color: #01010fde;
        color: black;
    }
    &__buttons, &__buttons>div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
        margin-top: 10px;
    }
    &__signup, &__goback, &__homepage, &__account {
        @include button;
    }
    &__signup, &__homepage {
        background-color: $main-orange;
    }
    &__close-icon {
        position: absolute;
        top: 25px;
        right: 25px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .agreement{
        @include main-text();
        font-size: 16px;
        font-weight: 700;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .checkbox {
        margin-right: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        appearance: none;
        width: 19px;
        height: 19px;
        border: 2px solid $main-orange;
        border-radius: 4px;
        outline: none;
        cursor: pointer;
        position: relative;

        &:checked {
            background-color: $main-orange;
            border-color: $main-orange;

            &::after {
                content: "✔";
                position: absolute;
                color: white;
                font-size: 16px;
                left: 1px;
                top: -7px;
            }
        }
    }
}

@keyframes modalopen {
    from {opacity: 0; transform: translateY(-100px)}
    to {opacity: 100%; transform: translateY(0)}
}
@keyframes modalclose {
    from {opacity: 100%; transform: translateY(0)}
    to {opacity: 0; transform: translateY(-100px)}
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    background-color: #01010F;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}
