@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Andika:wght@400;700&display=swap");
@import 'header.css';
@import 'footer.css';
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: Andika, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 100%;
    transform: translateY(0);
  }
}
@keyframes modalclose {
  from {
    opacity: 100%;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100px);
  }
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  background-color: #01010F;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.modal-window {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  z-index: 3;
}
.modal-window__content {
  max-width: 750px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 40px 60px;
  height: auto;
  background-color: #01010F;
  border: 2px #F67A45 solid;
  border-radius: 5px;
  animation: modalopen 0.5s;
}
.modal-window__content.closing {
  animation: modalclose 0.5s;
}
.modal-window__title {
  font-family: "Alumni Sans", sans-serif;
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 4px #F67A45;
  position: relative;
}
.modal-window__title::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: #01010F;
  -webkit-text-stroke: 0;
  z-index: 1;
}
.modal-window__title {
  line-height: 100%;
  max-width: 700px;
  margin-bottom: 10px;
}
.modal-window__form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.modal-window__description {
  font-family: Andika, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
  font-weight: 700;
  text-align: center;
  max-width: 700px;
}
.modal-window__label {
  font-family: Andika, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.modal-window__input {
  font-family: Andika, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
  width: 100%;
  height: 40px;
  padding-inline: 10px;
  background-color: transparent;
  outline: 2px #2E2E2E solid;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 4px 8px rgba(255, 255, 255, 0.15);
  margin-top: 10px;
}
.modal-window__input::-moz-placeholder {
  font-family: Andika, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
  color: rgba(255, 255, 255, 0.7);
}
.modal-window__input::placeholder {
  font-family: Andika, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
  color: rgba(255, 255, 255, 0.7);
}
.modal-window__input:focus {
  outline: 2px #F67A45 solid;
}
.modal-window__input_big {
  min-height: 100px;
}
.modal-window__option {
  color: black;
}
.modal-window__buttons, .modal-window__buttons > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  margin-top: 10px;
}
.modal-window__signup, .modal-window__goback, .modal-window__homepage, .modal-window__account {
  font-family: Andika, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  border: 2px #F67A45 solid;
  padding: 10px 20px;
  font-weight: 700;
  transition: 0.3s;
}
.modal-window__signup:hover, .modal-window__goback:hover, .modal-window__homepage:hover, .modal-window__account:hover {
  background-color: #F67A45;
  outline: 2px #F67A45 solid;
  outline-offset: 3px;
  transition: 0.3s;
}
.modal-window__signup, .modal-window__homepage {
  background-color: #F67A45;
}
.modal-window__close-icon {
  position: absolute;
  top: 25px;
  right: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.modal-window .agreement {
  font-family: Andika, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.modal-window .checkbox {
  margin-right: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 19px;
  height: 19px;
  border: 2px solid #F67A45;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  position: relative;
}
.modal-window .checkbox:checked {
  background-color: #F67A45;
  border-color: #F67A45;
}
.modal-window .checkbox:checked::after {
  content: "✔";
  position: absolute;
  color: white;
  font-size: 16px;
  left: 1px;
  top: -7px;
}

.programs {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  width: 1240px;
}
.programs__title {
  font-family: "Alumni Sans", sans-serif;
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 4px #F67A45;
  position: relative;
}
.programs__title::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: #01010F;
  -webkit-text-stroke: 0;
  z-index: 1;
}
.programs {
  align-items: center;
}
.programs__header {
  max-width: 1120px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.programs__header .add-button {
  font-family: Andika, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  border: 2px #F67A45 solid;
  padding: 10px 20px;
  font-weight: 700;
  transition: 0.3s;
}
.programs__header .add-button:hover {
  background-color: #F67A45;
  outline: 2px #F67A45 solid;
  outline-offset: 3px;
  transition: 0.3s;
}
.programs__list {
  max-width: 1120px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.programs__list .card {
  width: 500px;
  height: 564px;
  border-radius: 5px;
  position: relative;
}
.programs__list .card__back-img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  opacity: 70%;
  position: relative;
}
.programs__list .card__info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  gap: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0 15px 15px;
  width: 100%;
  height: 10px;
  border-radius: 5px;
}
.programs__list .card__name {
  font-family: Andika, sans-serif;
  font-size: 24px;
  font-weight: 700;
  z-index: 2;
}
.programs__list .card__description {
  display: none;
  font-family: Andika, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
  font-size: 16px;
}
.programs__list .card__learn-more {
  display: none;
  background-color: transparent;
  border: none;
  font-family: "Alumni Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #F67A45;
}
.programs__list .card__button {
  background-color: transparent;
  border: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.programs__list .card:hover {
  outline: 3px #F67A45 solid;
  outline-offset: 6px;
  transition: 0.5s;
}
.programs__list .card:hover .card__back-img {
  transition: 0.5s;
  opacity: 90%;
}
.programs__list .card:hover .card__name {
  text-decoration: underline;
  text-decoration-color: #F67A45;
}
.programs__list .card:hover .card__info {
  height: 150px;
  background-color: rgba(0, 0, 0, 0.5);
  animation: info 0.5s;
}
.programs__list .card:hover .card__description, .programs__list .card:hover .card__learn-more {
  display: block;
  animation: info 0.5s;
}
.programs__list .card::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: -moz-min-content;
  height: min-content;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0 0 5px 5px;
}

@keyframes info {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 100%;
    transform: translateY(0);
  }
}/*# sourceMappingURL=programs-list.css.map */