@import 'general.scss';

.modal-window {
    @include modal-window;
}

.programs {
    @include flex-block;
    align-items: center;
    
    &__header {
        max-width: 1120px;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        
        .add-button {
            @include button;
        }
    }
    &__list {
        max-width: 1120px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 50px;

        .card {
            width: 500px;
            height: 564px;
            border-radius: 5px;
            position: relative;

            &__back-img {
                width: 100%;
                height: 100%;
                border-radius: 5px;
                opacity: 70%;
                position: relative;
            }
            &__info {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: end;
                gap: 3px;
                position: absolute;
                bottom: 0;
                left: 0;                
                padding: 0 0 15px 15px;
                width: 100%;
                height: 10px;
                border-radius: 5px;
            }
            &__name {
                font-family: Andika, sans-serif;
                font-size: 24px;
                font-weight: 700;
                z-index: 2;
            }
            &__description {
                display: none;
                @include main-text;
                font-size: 16px;
            }
            &__learn-more {
                display: none;
                background-color: transparent;
                border: none;
                font-family: 'Alumni Sans', sans-serif;
                font-size: 22px;
                font-weight: 700;
                color: $main-orange;
            }
            &__button {
                background-color: transparent;
                border: none;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }

            &:hover {
                outline: 3px $main-orange solid;
                outline-offset: 6px;
                transition: 0.5s;
                
                .card__back-img {
                    transition: 0.5s;
                    opacity: 90%;                    
                }
                
                .card__name {
                    text-decoration: underline;
                    text-decoration-color: $main-orange;
                }
                .card__info {
                    height: 150px;
                    background-color: rgba(0, 0, 0, 0.5);
                    animation: info 0.5s;
                }
                .card__description, .card__learn-more {
                    display: block;
                    animation: info 0.5s;
                }
            }

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                // height: calc(var(--titleHeight) + 30px);
                height: min-content;
                display: flex;
                align-items: center;
                background-color: rgba(0, 0, 0, 0.3);
                border-radius: 0 0 5px 5px;
                // padding: 50px;
            }
        }
    }
}

@keyframes info {
    from {opacity: 0; transform: translateY(40px);}
    to {opacity: 100%; transform: translateY(0);}
}